  <h1>{{title}}</h1>
  <fieldset class="gllpLatlonPicker">
  	<form action="/location/create" method="POST">
	  	<input type="text" name="name" class="gllpSearchField">
	    <input type="button" class="gllpSearchButton" value="search">
		<div class="gllpMap">Google Maps</div>
		<input type="hidden" name='latitude' class="gllpLatitude" value="20"/>
		<input type="hidden" name='longitude' class="gllpLongitude" value="20"/>
		<input type="hidden" class="gllpZoom" value="3"/>
		<button type="submit">Save</button>
  	</form>
    
  </fieldset>

